@font-face {
	font-family: 'myFont';
	src: url('../fonts/myFont.woff2') format('woff2'),
			 url('../fonts/myFont.woff') format('woff'),
			 url('../fonts/myFont.svg#myFont') format('svg');
	font-weight: normal;
	font-style: normal;
}