// Colors
$pink: #f19576;
$gray: #54595f;

// Font-size
$mainFontSize: 13px;


// Font-family
$montserratLight: "montserratlight", arial, sans-serif;
$montserratRegular: "montserratregular", arial, sans-serif;
$montserratMedium: "montserratmedium", arial, sans-serif;
$playfair: "playfair_displayregular", georgia, serif;
$dancing: "dancing_scriptregular", arial, sans-serif;


// Screen sizes
$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);
