.catalog__description {
  margin-bottom: rem(20);
}

.catalog__description-img {
  width: 100%;
  height: rem(110);
  margin-bottom: rem(20);
  background: #c4c4c4;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}


// Catalog sort
.catalog__sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.sort__filter {
  display: none;
  min-width: 30%;
  margin-right: auto;
  margin-bottom: rem(20);

  @media (max-width: 420px) {
    min-width: auto;
  }

  button {
    width: auto;
    padding: 0 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 11px;
    line-height: 14px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.sort__type {
  width: 100%;
  margin-bottom: rem(20);

  @media (max-width: 768px) {
    width: auto;
  }
}

.type__list {
  display: flex;
  align-items: center;

  button {
    width: rem(80);
    padding: 0 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 11px;
    line-height: 14px;
    cursor: pointer;
  }
}

.type__item {
  margin-right: rem(10);
}

.sort__view {
  @media (max-width: 768px) {
    width: auto;
    min-width: 30%;
    margin-bottom: rem(20);
    margin-left: auto;
  }

  @media (max-width: 420px) {
    min-width: auto;
  }
}

.view__list {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: flex-end;
  }
}

.view__item {
  margin-right: rem(10);

  &:last-child {
    margin-right: 0;
  }

  button {
    display: block;
    width: rem(23);
    min-width: 20px;
    height: rem(23);
    min-height: 20px;
    padding: 0;
    line-height: 1;
    background: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;

      svg {
        fill: $gray;
      }
    }
  }

  svg {
    width: rem(23);
    min-width: 20px;
    height: rem(23);
    min-height: 20px;
    fill: #c4c4c4;
  }
}

.view__item.active svg {
  fill: $pink;
}

.sort__by {
  margin-right: rem(20);
  margin-bottom: rem(20);
  margin-left: auto;

  @media (max-width: 768px) {
    //width: 100%;
    margin-right: auto;
    margin-left: 0;
  }
}

.sort__show {
  margin-bottom: rem(20);
}

.sort-form__title {
  font-size: 13px;
  color: #393f45;
}

.sort-form__field {
  margin-left: rem(5);
  padding: 5px;
  padding-right: 15px;
  font-family: $montserratLight;
  font-size: 12px;
  color: $gray;
  border: 1px solid #cdd5dd;
}


// Catalog gallery
.catalog__gallery {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1.5%;
    margin-bottom: -30px;

    @media (max-width: 600px) {
      justify-content: center;
      margin-bottom: -20px;
    }
  }

  .gallery__item {
    width: 30.3333%;
    margin: 0 1.5%;
    margin-bottom: 30px;

    @media (max-width: 600px) {
      width: 40%;
      margin: 0 2%;
      margin-bottom: 20px;
    }

    @media (max-width: 500px) {
      width: 46%;
    }
  }

  &.gallery--row {
    .gallery__list {
      margin: 0;
    }

    .gallery__item {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
    }

    .item__body {
      padding: 0;
    }
  }
}


// Pagination
.catalog__pagination {
  margin: rem(45) 0;
}

.pagination__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.pagination__item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: rem(30);
  padding: 3px;
  font-family: $montserratLight;
  font-size: 11px;
  line-height: 13px;
  color: #343e48;
  border: 1px solid #a09896;
  transition: $transition;

  .active &,
  &:hover,
  &:focus {
    color: #ffffff;
    background: $pink;
    border-color: $pink;
  }
}
