.exhibition-video__gallery {
  width: calc(100% + 20px);
  margin-left: -10px;
}

.exhibition-video__gallery .gallery__list {
  margin-bottom: rem(-20);
}

.exhibition-video__gallery .gallery__item {
  width: calc((100% - 2 * 30px) / 3);
  margin-bottom: rem(20);
}
