.page-footer {
  padding: rem(25) 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.page-footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: 600px) {
    justify-content: center;
  }
}

.footer-section {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  @media (max-width: 400px) {
    width: 100%;
  }
}

.footer-section:not(:last-child) {
  @media (max-width: 600px) {
    margin-bottom: rem(30);
  }
}

.footer-section__title {
  margin-bottom: rem(10);
  font-size: rem(16);
  line-height: rem(20);
  text-transform: uppercase;
}

.footer-section__list {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-section__link {
  display: flex;
  align-items: center;
  padding: rem(2) 0;
  color: $gray;
  transition: 0.3s ease-in-out;

  @media (max-width: 600px) {
    text-align: center;
  }
}

.footer-section__link-img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  transition: 0.3s ease-in-out;
  fill: #a09896;
}

.footer-section__link:hover,
.footer-section__link:focus {
  color: $pink;
  outline: none;
}

.footer-section__link:hover .footer-section__link-img,
.footer-section__link:focus .footer-section__link-img {
  outline: none;
  fill: $pink;
}

// Socials
.footer-socials {
  margin-top: rem(15);

  @media (max-width: 600px) {
    margin-top: rem(30);
  }
}

.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 130px;
}

.socials__link {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 1;
  transition: 0.3s ease-in-out;
}

.socials__link:focus {
  outline: none;
}

.socials__link-img {
  width: 20px;
  height: 20px;
  transition: 0.3s ease-in-out;
  fill: #a09896;
}

.socials__link:hover .socials__link-img,
.socials__link:focus .socials__link-img {
  fill: $pink;
}
