@keyframes menu-animation {
  0% {
    transform: scale(0.04) translateY(300%);
    opacity: 0;
  }

  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }

  40% {
    transform: scale(0.04) translateY(0);
  }

  60% {
    transform: scale(0.02) translateY(0px);
    opacity: 1;
  }

  61% {
    transform: scale(0.04);
  }

  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }

  100% {
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
    transform: scale(2);
  }
}

$color-bg: #fcfcf4;
$color-dark: darken($pink, 10%);
$color-lite: lighten($pink, 10%);

.page-header {
  padding: rem(26) 0;
}

.page-header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.exhibition-header {
  margin-bottom: rem(46);
  padding: rem(16) 0;
}

// Logo
.logo__link {
  font-family: $dancing;
  font-size: rem(48);
  line-height: rem(58);
  color: #f8bfac;

  @media (max-width: 425px) {
    font-size: 25px;
  }
}

// Menu
.page-header__menu {
  position: relative;
  width: 100%;
  margin-bottom: rem(15);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exhibition-header.menu {
  @media (max-width: 768px) {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
}

.exhibition-header.menu::before {
  @media (max-width: 768px) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    margin: auto;
    padding-bottom: 100%;
    overflow: hidden;
    background: rgba($color-dark, 0.98);
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
  }
}

.open .exhibition-header.menu {
  top: 0;
}

.open .exhibition-header.menu::before {
  animation: menu-animation 0.8s ease-out forwards;
}


// Menu search
.page-header__search {
  width: 100%;
  max-width: rem(400);
  margin: 0 rem(15);

  @media (max-width: 768px) {
    display: none;
  }
}

.page-header__search.active {
  position: absolute;
  z-index: 110;
  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  background: #ffffff;
}

.search-form {
  width: 100%;
}

.search-form__block {
  position: relative;
}

.search-form__field {
  width: 100%;
  height: 100%;
  padding-top: rem(14);
  padding-right: rem(50);
  padding-bottom: rem(12);
  padding-left: rem(20);
  font-family: $montserratRegular;
  font-size: 11px;
  line-height: 14px;
  color: #b6adaa;
  background: #ffeee9;
  border: 0;
  border-radius: 5px;
}

.search-form__field::placeholder {
  font-family: $montserratRegular;
  font-size: 11px;
  line-height: 14px;
  color: #b6adaa;
}

.search-form__submit {
  position: absolute;
  top: 50%;
  right: 0;
  width: rem(50);
  height: 100%;
  background: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-form__submit:focus {
  outline: none;
}

.search-form__submit:hover .search-form__submit-img,
.search-form__submit:focus .search-form__submit-img {
  fill: $pink;
}

.search-form__submit-img {
  width: rem(18);
  height: rem(18);
  fill: #b6adaa;
}

// Menu user
.user-info__list {
  display: flex;
  align-items: center;
}

.user-info__item {
  position: relative;
  display: flex;
  margin-left: rem(10);
}

.user-info__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info__link:hover,
.user-info__link:focus {
  outline: none;
}

.user-info__link:hover .user-info__link-img,
.user-info__link:focus .user-info__link-img {
  fill: $pink;
}

.user-info__link-img {
  width: rem(25);
  height: rem(25);
  transition: 0.3s ease-in-out;
  fill: #b6adaa;
}

.user-info__link-count {
  position: relative;
  top: -10px;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  margin-left: -10px;
  padding: rem(6);
  padding-top: rem(3);
  padding-bottom: rem(1);
  font-size: 8px;
  line-height: 10px;
  color: #000000;
  background: #f8bfac;
  border-radius: 4px;
}

.user-info__item--search {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.user-info__item--user {
  overflow: hidden;
  border-radius: 50%;
}

// Nav
.page-header__nav {
  width: 100%;
}

.exhibition-nav {
  width: auto;
}

.nav {
  @media (max-width: 768px) {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
}

.nav::before {
  @media (max-width: 768px) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    margin: auto;
    padding-bottom: 100%;
    overflow: hidden;
    background: rgba($color-dark, 0.98);
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
  }
}

.open .nav {
  top: 0;
}

.open .nav::before {
  animation: menu-animation 0.8s ease-out forwards;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    position: fixed;
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}

.nav__item {
  @media (max-width: 768px) {
    text-align: center;
    transform: translate3d(0, 36px, 0);
    opacity: 0;
  }
}

.nav__item:not(:last-child) {
  margin-right: rem(23);

  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.open .nav__item {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;

  @for $i from 1 to 15 {
    &:nth-child(#{$i}) {
      transition-delay: $i * 0.1s + 0.65s;
    }
  }
}

.nav__link {
  position: relative;
  display: block;
  padding: 5px 0;
  font-size: 11px;
  line-height: 13px;
  color: $gray;
  text-transform: uppercase;

  @media (max-width: 768px) {
    margin-bottom: rem(30);
    font-size: rem(30);
    line-height: 1.3;
    color: #ffffff;
  }
}

.nav__link:focus {
  outline: none;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background: transparent;
  transition: 0.3s ease-in-out;
}

.nav__link:hover::after,
.nav__link:focus::after {
  content: "";
  left: 0;
  width: 100%;
  background: $pink;
}


// Nav toggle
.nav-toggle {
  display: none;

  @media (max-width: 768px) {
    position: relative;
    z-index: 101;
    display: block;
    width: 30px;
    height: 30px;
    background-color: $pink;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease-out;
  }

  @media (max-width: 425px) {
    width: 25px;
    height: 25px;
  }
}

.nav-toggle::before {
  @media (max-width: 768px) {
    content: "";
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    left: 4px;
    background: linear-gradient(to bottom,
    transparent, transparent 20%,
    #ffffff 20%, #ffffff 30%,
    transparent 30%, transparent 45%,
    #ffffff 45%, #ffffff 55%,
    transparent 55%, transparent 70%,
    #ffffff 70%, #ffffff 80%,
    transparent 80%, transparent 100%);
    transition: opacity 0.2s ease-out,
    width 0.2s 0.2s ease-out;
  }
}

.nav-toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg enable-background='new 0 0 212.982 212.982' version='1.1' viewBox='0 0 212.982 212.982' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='m131.8 106.49l75.936-75.936c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0l-75.937 75.937-75.937-75.938c-6.99-6.99-18.322-6.99-25.312 0-6.989 6.99-6.989 18.323 0 25.312l75.937 75.936-75.937 75.937c-6.989 6.99-6.989 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0l75.937-75.937 75.937 75.937c6.989 6.99 18.322 6.99 25.312 0s6.99-18.322 0-25.312l-75.936-75.936z'/%3E%3C/svg%3E%0A") center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.4s ease-out;

  @media (max-width: 425px) {
    width: 25px;
    height: 25px;
  }
}

.nav-toggle:hover {
  opacity: 1;
}

.open .nav-toggle {
  background-color: transparent;
}

.open .nav-toggle::before {
  width: 0;
  opacity: 0;
}

.open .nav-toggle::after {
  transform: translate3d(0, 0, 0) rotate(360deg);
  opacity: 1;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
}
