.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(75) 0;
  background: $gray url("../img/general/intro-bg.jpg") center/cover no-repeat;
}

.section.intro {
  margin-bottom: rem(15);
}

.intro__header {
  max-width: rem(500);
  margin-bottom: rem(15);
}

.intro__header h1 {
  font-family: $montserratMedium;
  font-size: rem(36);
  text-align: center;
  color: #ffffff;
}

.intro__link {
  width: rem(200);
  background: #ffe9e2;
  border-color: transparent;
}
