.masters__gallery .item__img {
  height: rem(210);
  overflow: hidden;
  background: #e5e5e5;
}

.masters__gallery .item__img img {
  height: 100%;

  object-fit: contain;
}

.masters__gallery .title__text {
  text-transform: none;
}

.masters__gallery .rating {
  width: 100%;
  text-align: center;
}
