.presents__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 992px) {
    justify-content: center;
    margin-bottom: -2%;
  }

  @media (max-width: 768px) {
    justify-content: space-between;
  }
}

.presents__item {
  position: relative;
  width: 16.3333%;
  height: rem(160);
  overflow: hidden;

  @media (max-width: 992px) {
    width: 21%;
    margin: 2%;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    width: 29.3333%;
    height: rem(200);
  }

  @media (max-width: 500px) {
    width: 46%;
  }
}

.present__img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.present__link {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.present__text {
  display: block;
  width: 100%;
  padding: rem(12) rem(5);
  font-family: $montserratMedium;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: $gray;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.3s ease-in-out;
}


.present__link:hover .present__text,
.present__link:focus .present__text {
  background: rgba(255, 255, 255, 1);
}
