.promo__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: rem(200);
  padding: 0;
  padding-top: rem(90);
  padding-bottom: rem(30);
  background: #c4c4c4 url("../img/general/promo-bg.jpg") center/cover no-repeat;
}

.section-header.promo__header {
  margin-bottom: 0;
}

.section-header.promo__header h2 {
  font-family: $amatic;
  font-size: rem(42);
  line-height: rem(53);
  text-align: center;
  color: #333639;
  text-transform: none;
}

.promo__header h2 > span {
  text-transform: uppercase;
}

.promo__more-link {
  min-width: rem(210);
  padding: 5px;
  font-family: $amatic;
  font-size: rem(24);
  line-height: rem(30);
  text-align: center;
  color: #000000;
  background: #ffeee9;
  border-color: transparent;
}
