@import "components/fonts.scss";
@import "components/libs.scss";
@import "components/mixins.scss";
@import "components/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  line-height: 1.42;
}

main {
  flex: 1 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 1230px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

@import "modules/header.scss";
@import "modules/footer.scss"




